<button type="button" class="btn btn-primary m-3 add" routerLink="/personnes/add">ajouter une personne</button>

<div class="container mt-3">
  <app-tableau [headers]="headers">
    <tr class="table-active" *ngFor="let personne of listPersonnes">
      <td class="text-uppercase">{{personne.fields.nom}}</td>
      <td class="text-capitalize">{{personne.fields.prenom}}</td>
      <td>{{personne.fields.age}}</td>
      <td><app-dropdown [title]="titleDropdown" [options]="optionsDropdown" (clickEmitter)="choixDropdown($event,personne)"></app-dropdown></td>
    </tr>
  </app-tableau>
</div>
