$light-color: #ffffff;
$dark-color: #424242;

$color1: #05cad1;
$color2: #f77e2e;
$color3: #70148b;

$color-error: #e2445c;
$color-success: #00c875;

$color1a: #7dc4c7;
$color1b: #b5cbcc;

$color2a: #fc9652;
$color2b: #fa6e11;
