<ng-container *ngIf="!connexionEtat else elseConnexion">
  <div class="form-group container mb-3">
    <label class="form-label mt-4">Connexion :</label>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="login">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password">
      <label for="floatingPassword">Password</label>
    </div>
  </div>

  <div class="d-flex justify-content-center m-3">
    <button type="button" class="btn btn-primary" (click)="connexion()">Connexion</button>
  </div>
</ng-container>


<ng-template #elseConnexion>
  <div class="d-flex justify-content-center m-3">
    <button type="button" class="btn btn-danger" (click)="deconnexion()">Deconnexion</button>
  </div>
</ng-template>

<div class="d-flex justify-content-center m-3">
{{connexionEtat}}
</div>
