<form (ngSubmit)="register()" [formGroup]="formPersonne">
  <div class=" m-3 form-group">
    <label for="nom" class="form-label mt-4">Nom*</label>
    <input formControlName="nom" type="text" id="nom" class="form-control text-uppercase" [ngClass]="{'is-valid': nom.valid}">
  </div>
  <div class=" m-3">
    <label for="prenom" class="form-label mt-4">Prénom*</label>
    <input formControlName="prenom" type="text" id="prenom" class="form-control text-capitalize" [ngClass]="{'is-valid': prenom.valid}">
  </div>
  <div class=" m-3">
    <label for="age" class="form-label mt-4">Age</label>
    <input formControlName="age" type="number" id="age" class="form-control">
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-success" [disabled]="!formPersonne.valid">{{typeForm}}</button>
  </div>
</form>
