/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import 'font';

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $dark-color;
  color: $light-color;
}

.error{
  color: $color-error;
}

.add{
  position: fixed;
  bottom: 50px;
  right: 0;
}
