<div class="container d-flex justify-content-center p-5">
  <p>404 page not found !</p>
</div>
<div class="container d-flex justify-content-center p-5">
  <app-button></app-button>
</div>

<div class="container">
  <div class="title d-flex justify-content-center">
    <h1>NgModel</h1>
  </div>
  <div class="input d-flex justify-content-center">
    <input type="text" [(ngModel)]="testNgModel">
  </div>
  <div class="test-input d-flex justify-content-center">
    {{testNgModel}}
  </div>
  <div class="test-input d-flex justify-content-center">
    {{testNgModel | uppercase}}
  </div>
  <div class="error d-flex justify-content-center" *ngIf="testNgModel.length > 10 else monElse">
    <p>OULALA plus de 10 caractères</p>
  </div>
</div>

<ng-template #monElse>
  <div class="d-flex justify-content-center">
    <p>moin de 10 caractères</p>
  </div>
</ng-template>

