<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" *ngIf="connexion | async">
          <a class="nav-link" routerLink='/personnes' routerLinkActive="active">Personnes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/404' routerLinkActive="active">404</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/login' routerLinkActive="active">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
